<%- include header.ejs %>
<h1> Add Course </h1>
<form action="/subject" method="post">
    <label for="date">Date:</label>
    <input class="datepicker" name="date" type="date">
    <input class="btn btn-primary" type="submit">
</form>
